APP_NAME="MitraSpace E-commerce"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://mitraspace-buyer.vercel.app

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_URL="postgresql://username:password@localhost:5432/database"
DB_SSLMODE=require


SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# ============================================================
# SELLER CENTER INTEGRATION (ganti dengan URL Ngrok aktif Anda)
# ============================================================
SELLER_API_BASE_URL=https://mitraspace.admin.vercel.app

# ============================================================
# DOKU PAYMENT GATEWAY — Sandbox
# Daftar di: https://sandbox.doku.com/bo/sandbox-registration
# ============================================================
DOKU_CLIENT_ID=
DOKU_SECRET_KEY=
DOKU_IS_PRODUCTION=false
DOKU_SUCCESS_URL="${APP_URL}/payment/success"
DOKU_FAILED_URL="${APP_URL}/payment/failed"
DOKU_NOTIFY_URL="${APP_URL}/webhook/doku"



# ============================================================
# RAJAONGKIR SHIPPING API — Starter
# Jika kosong atau USE_MOCK=true, sistem menggunakan MOCK RATES
# ============================================================
RAJAONGKIR_API_KEY=
RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1
RAJAONGKIR_ORIGIN_CITY=Jakarta
RAJAONGKIR_USE_MOCK=false

# ============================================================
# GOOGLE OAUTH
# ============================================================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8082/auth/google/callback
